* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*BODY*/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 2em;
  overflow-x: hidden;
}

nav{
  width: 100%;
  background: #0004;
  display: inline-flex;
  position: absolute;
  padding: 2% 2%;
  max-height: 12%;
}

nav .logo {
  display: inline-flex;
  flex: 0.5;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

nav .logo a {
  padding: 2%;
  transition: all ease 0.5s;
}

nav .links {
  display: inline-flex;
  flex: 0.6;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav a{
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  transition: all ease 0.5s;
  }

nav a:visited {
  color: black;
}

nav a:hover{
	text-decoration: underline;
  background-color: #cc5200;
}

#showcase {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('./images/showcase.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.container{
width: 100%;
display: flex;
}

.side-nav {
position: sticky;
display: flex;
flex-direction: column;
height: 100vh;
z-index: 1;
top: 0;
padding: 0 1%;
background-color: #000;
text-align: center;
justify-content: space-around;
}

.side-nav a {
color: #fff;
text-decoration: none;
font-size: 18px;
text-transform: uppercase;
list-style: none;
padding: 15% 1%;
transition: all ease 0.5s;
}

.side-nav a:hover{
text-decoration: underline;
background-color: #cc5200;
}

.paragraph{
height: 100vh;
}

h1 {
text-transform: uppercase;
text-align: center;
font-size: 30px;
padding-top: 4%;
}

.paragraphtext{
  display: flex;
}

.text{
  padding: 4% 0 3% 3%;
}

#medination img {
padding: 5% 3% 3% 3%;
}

.video{
  padding: 4% 3% 3% 3%;

}

.video iframe{
 width:400px;
 height:400px;
}

em a {
  font-style: normal;
  color: #000;
  text-decoration: none;
}

em a:visited{
  color: #000;
}

em:hover{
text-decoration: underline;
}

#wallpapers{
  height: 90vh;
}

#wallpapers p{
  padding: 4% 3% 3% 3%;
}

#wallpapers img {
  padding: 0 0 3% 4.5%;
}

#contact{
  height: 60vh;
}

.firstbox, .secondbox, .thirdbox {
  flex: 1;
  padding: 4% 0 3% 4.5%;
}

.firstbox p{
padding-top: 4%;
}

.secondbox{
  padding-left: 10%;
}

.secondbox a{
padding-right: 5%;
}

.secondbox img{
padding-top: 6%;
}

.thirdbox p{
padding-top: 4%;
}

.thirdbox a{
color: #cc5200;
font-size: 18px;
font-weight: bolder;
text-decoration: none;
}

.thirdbox a:visited{
color: #cc5200;
}

.thirdbox a:hover{
color: #000;
text-decoration: underline;

}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 0.5%;
}
