* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*BODY*/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 2em;
  overflow-x: hidden;
}

nav{
  width: 100%;
  background: #0004;
  display: inline-flex;
  position: absolute;
  padding: 2% 2%;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  max-height: 20%;
}

nav .logo2{
  display: none;
}

nav .logo img {
  width: 10%;
  height: 80%;
}

nav .logo {
  display: inline-flex;
  flex: 0.5;
  color: black;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

nav .logo a {
  font-size: 22px;
  padding: 5px;
}

nav .links {
  display: inline-flex;
  float: right;
  flex: 0.6;
  text-align: center;
  align-items: center;
}

nav .links li {
  display: inline-block;
  list-style: none;
}

nav a{
  color: black;
  font-size: 18px;
  font-weight: bold;
  transition: all ease 0.5s;
  text-decoration: none;
  padding: 15px;
  transition-timing-function: ease-in-out;
  }

nav a:visited {
  color: black;
}

nav a:hover{
	text-decoration: underline;
  background-color: #cc5200;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 3s ease-in-out;
}

#showcase {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('./images/showcase.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.container{
display: flex;
}

.side-nav {
position: sticky;
display: flex;
flex-direction: column;
flex: 1;
height: 100vh;
z-index: 1;
top: 0;
right: 0;
background-color: #000;
overflow-x: hidden;
overflow-y: hidden;
text-align: center;
justify-content: space-around;
padding-bottom: 2%;
}

.side-nav a {
position: sticky;
color: #fff;
text-decoration: none;
font-size: 18px;
text-transform: uppercase;
transition: all ease 0.5s;
list-style: none;
padding: 15% 0;
}

.side-nav a:hover{
text-decoration: underline;
background-color: #cc5200
}

.content {
display: block;
flex: 7;
}

.paragraph{
height: 100vh;
display: block;
}

#medination img {
  flex: 0.5;
  padding: 5% 3% 3% 3%;
}

h1 {
text-transform: uppercase;
text-align: center;
font-size: 30px;
margin: 0;
padding-top: 4%;
}

.paragraphtext{
  display: flex;
}

.text{
  flex: 2;
  padding: 4% 0 3% 3%;
}

.video{
  flex: 1;
  padding: 4% 3% 3% 3%;

}

.video iframe{
 width:400px;
 height:400px;
}

em a {
  font-style: normal;
  color: #000;
  text-decoration: none;
}

em a:visited{
  color: #000;
}

em:hover{
text-decoration: underline;
}

#wallpapers{
  height: 90vh;
}

#wallpapers p{
  padding: 4% 3% 3% 3%;
}

#wallpapers img {
  padding: 0 0 3% 4.5%;
}

#contact{
  height: 60vh;
}

.firstbox, .secondbox, .thirdbox {
  flex: 1;
  padding: 4% 0 3% 4.5%;
}

.firstbox p{
padding-top: 4%;
}

.secondbox{
  padding-left: 10%;
}

.secondbox a{
padding-right: 5%;
}

.secondbox img{
padding-top: 6%;
}

.thirdbox p{
padding-top: 4%;
}

.thirdbox a{
padding-top: 4%;
color: #000;
text-decoration: none;
}

.thirdbox a:visited{
color: #000;
}

.thirdbox a:hover{
text-decoration: underline;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
